@media screen and (max-width : 922px) {

}

@media screen and (max-width : 576px) {
    .hero-tagline h1 {
        line-height: 52px;
    }

    .img-hero {
        width: 75%;
        height: auto;
    }

    h2 {
        font-size: 34px;
    }

    .sub-title {
        font-size: 16px;
    }

    .card-layanan {
        margin: 15px 0;
    }

    #search h2 {
        font-size: 42px;
        line-height: 52;
    }

    #search p {
        font-size: 18px;
        line-height: 24px;
    }

    .input-cari .button-secondary {
        width: 50%;
        height: 60px;
    }

    .input-cari .button-primary {
        width: 30%;
        height: 60px;
        font-size: 20px;
    }

    .input-cari .form-control {
        height: 60px;
    }
    
}

@media screen and (max-width :350px) {
    
}